{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ article.titre }}</h1>
    <h5>date publication : {{ article.datePublication | date('d/m/Y') }}</h5>
    <sub>auteur : {{ article.auteur }}</sub>
    <p>{{ article.contenue }}</p>

    <h2>Commentaires</h2>
    <h3>Ajouter commentaire</h3>
    {{ form(form) }}
    <ul>
        {% for commentaire in article.commentaires %}
            <li>{{ commentaire.auteur }} ({{ commentaire.dateCreation  | date('d/m/Y h:i')  }}) : {{ commentaire.contenue }}</li>
        {% endfor %}
    </ul>
{% endblock %}

