{% extends 'base.html.twig' %}

{% block content %}
    <h1>Mon super blog avec des message 0% utile</h1>
    <section class="d-flex row">
        {% for message in messages %}
            <div class="card col-4">
                <div class="card-body">
                    <h5 class="card-title">{{ message.titre }}</h5>
                    <p class="card-text">{{ message.chapeau }}</p>
                    <a href="{{ path('article', {'article': message.id}) }}" class="card-link">En savoir plus</a>
                </div>
            </div>
        {% endfor %}
    </section>

    {% if currentPage > 1 %}
        <a href="{{ path('paginer', {'page': currentPage - 1}) }}" class="btn btn-primary mt-5">Précédent</a>
    {% endif %}
    {% if not maxMessage %}
        <a href="{{ path('paginer', {'page': currentPage + 1}) }}" class="btn btn-primary mt-5">En voir plus</a>
    {% endif %}
{% endblock %}

