{% extends 'base.html.twig' %}

{% block content %}
    <h1>Liste des message</h1>
    <a href="{{ path('article_create') }}" class="btn btn-primary btn-lg float-end"><i class="bi bi-file-plus"></i> Créer un nouvau message</a>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date Publication</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for message in liste %}
            <tr>
                <td>{{ message.titre }}</td>
                <td>{{ message.datePublication | date }}</td>
                <td>
                    <a href="{{ path('article_update', {'message' : message.id}) }}" class="btn btn-primary"><i class="bi bi-pencil"></i> Modifier</a>
                    <a href="{{ path('article_delete', {'message' : message.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i> Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

